body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: white;
}

h1, h2 {
    text-align: center;
    font-weight: bold;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input, button {
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
}

input {
    background-color: #333;
    border: 1px solid #444;
    color: white;
}

input:focus {
    outline: none;
    background-color: #555;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #4CAF50;
}

a:hover {
    text-decoration: none;
    color: #45a049;
}

.navbar {
    border-bottom: 2px solid #444;
}

.navbar-nav .nav-link {
    font-size: 18px;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #4CAF50;
}

.container {
    max-width: 1200px;
}

.btn-outline-light {
    border: 2px solid #4CAF50;
    color: #4CAF50;
    transition: all 0.3s ease;
}

.btn-outline-light:hover {
    background-color: #4CAF50;
    color: white;
}

footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    color: #bbb;
}
